{{> head }}

	<h1>Express App</h1>

	<nav>
		<a href="/">home</a>
		<a href="/about">about</a>
	</nav>

	<section>
		<h2>About</h2>
		<p>This is just me practicing some stuff with Express.js</p>
	</section>

{{> footer }}